# Configuration file

misc {
    # Enable easy harvest on Apple plants (true/false) [default: false]
    B:easyHarvest=false
}


recipes {
    # Enable recipe for Gold Apple Sapling (true/false) [default: false]
    B:craftGoldAppleSapling=false

    # Enable recipe for Enchanted Apple (true/false) [default: false]
    B:craftNotchApple=false
}


