# Configuration file
# NEXUS CONFIG: version checker désactivé pour accélérer le démarrage

cache {
    I:interval=168
    S:lastCheck=1774396216967
}

channel {
    S:level=Stable
}

client {
    B:changelog=false
    B:notify=false
}

general {
    B:enabled=false
}

