# Configuration file

general {
    # Maximum hearts a player can have
    I:maxHearts=50

    # How many unique foods must be eaten to gain a heart
    I:foodsPerHeart=5

    # Enable the mod
    B:enabled=true
}
