# Configuration file

01_structureheight {
    # Maximum Height of the Structure [range: 18 ~ 255, default: 255]
    I:MaxHeight=255
}


02_solarsbehavior {
    # Require sunlight for multiplier [default: true]
    B:RequireCanSeeSun=true
}


03_solarsmultipliers {
    # Multiplier for Advanced Solar Station [range: 1 ~ 2147483647, default: 2]
    I:01_MultiplierAdv=2

    # Multiplier for Hybrid Solar Station [range: 1 ~ 2147483647, default: 4]
    I:02_MultiplierHybrid=4

    # Multiplier for Perfect Hybrid Solar Station [range: 1 ~ 2147483647, default: 8]
    I:03_MultiplierPerfectHybrid=8

    # Multiplier for Quantum Solar Station [range: 1 ~ 2147483647, default: 16]
    I:04_MultiplierQuantum=16

    # Multiplier for Spectral Solar Station [range: 1 ~ 2147483647, default: 32]
    I:05_MultiplierSpectral=32

    # Multiplier for Protonic Solar Station [range: 1 ~ 2147483647, default: 64]
    I:06_MultiplierProtonic=64

    # Multiplier for Singular Solar Station [range: 1 ~ 2147483647, default: 128]
    I:07_MultiplierSingular=128

    # Multiplier for Diffractive Solar Station [range: 1 ~ 2147483647, default: 256]
    I:08_MultiplierDiffractive=256

    # Multiplier for Photonic Solar Station [range: 1 ~ 2147483647, default: 512]
    I:09_MultiplierPhotonic=512

    # Multiplier for Neutron Solar Station [range: 1 ~ 2147483647, default: 1024]
    I:10_MultiplierNeutron=1024
}


