# Configuration file

Commands {
    S:dimensionLoadingCommands <
     >

    S:earlyWorldCreationCommands <
     >

    S:earlyWorldLoadingCommands <
     >

    S:playerChangedDimensionEnterCommands <
        worldprimer-dim-command 144 gamemode 0 {PLAYER_NAME}
     >

    S:playerChangedDimensionLeaveCommands <
     >

    S:playerDeathCommands <
     >

    S:playerJoinCommands <
     >

    S:playerRespawnCommands <
     >

    S:postWorldCreationCommands <
        setworldspawn 0 73 0
     >

    S:postWorldLoadingCommands <
     >

    S:timedCommands <
        worldprimer-timed-command %10 0 execute @a[x=0,y=73,z=0,r=15,m=0] ~ ~ ~ gamemode 2 @s
        worldprimer-timed-command %10 0 execute @a[x=0,y=73,z=0,rm=16,m=2] ~ ~ ~ gamemode 0 @s
     >
}


Generic {
    S:commandSenderName=WorldPrimer

    B:enableChiselsAndBitsCrossWorldFormat=true

    B:enableDataTracking=true

    B:enableDebugLogging=false

    B:runDimensionChangeCommandsOnJoinQuit=false
}


Toggles {
    B:enableDimensionLoadingCommands=false

    B:enableEarlyWorldCreationCommands=false

    B:enableEarlyWorldLoadingCommands=false

    B:enablePlayerChangedDimensionEnterCommands=true

    B:enablePlayerChangedDimensionLeaveCommands=false

    B:enablePlayerDeathCommands=false

    B:enablePlayerJoinCommands=false

    B:enablePlayerQuitCommands=false

    B:enablePlayerRespawnCommands=false

    B:enablePostWorldCreationCommands=true

    B:enablePostWorldLoadingCommands=false

    B:enableTimedCommands=true
}
